* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(27, 36, 26);
}

header li, a, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(207, 207, 207);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(49, 66, 45);
    position: fixed;
    top: 0;
    width: 100%;
}

header h3 {
    color: rgb(226, 43, 43);
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav-links li a {
    transition: all 0.3s ease 0;
}

.nav-links li a:hover {
    color: rgb(226, 43, 43);
}

.containers {
    background-color: rgb(56, 75, 51);
    margin: 50px;
}

#items {
    margin: 30px;
    line-height: 40px;
}

.p p{
    float: right;
}

#primero {
    margin-top: 100px;
}

table {
    width: 88%;
    color: rgb(207, 207, 207);
}

#img {
    margin-top: 10px;
    margin-right: -140px;
    width: 500px;
}
